
.homeContainer{
 
 
 
 
 
}
.card{  
  padding: 1rem;
  border: 1px solid #cc2e2e;
  opacity: 0.3;
  width:  100%;
  
}

.card:hover{
  opacity: 1;
  transform: scale(1.9);
  margin: 0;
  padding: 0;
}
.card-content {
  display: none;
}
.card:hover .card-content {
  display: flex;
  flex-direction: row;
}





