 
 .ProfileCardContainer{
  
  
  
   border: salmon 2px solid;
   margin: 24rem;
   margin-top: 21rem;
   padding-left: 16rem;
   padding-right: 16rem;
 
  
  
  
   
 }
 .ProfileCardContainer:hover{
 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 











