.ListGroup{
    
    display: flex;
    flex-direction: row;
    width: 33%;
   

    background-color: rgba(143, 71, 71, 0.24);
    margin: 5px;
    align-items: center;
    justify-content:space-evenly;
}